aiohttp==2.3.0
async-timeout==2.0.0
BTrees==4.4.1
certifi==2017.7.27.1
chardet==3.0.4
configobj==5.0.6
idna==2.6
multidict==3.3.0
persistent==4.2.4.2
requests==2.18.4
riprova==0.2.3
six==1.11.0
transaction==2.1.2
urllib3==1.22
yarl==0.13.0
zc.lockfile==1.2.1
ZConfig==3.2.0
ZODB==5.3.0
zodbpickle==0.7.0
zope.interface==4.4.3
